{% extends 'app.html' %}
{% block return %}
    {% url 'main:calendar' %}
{% endblock %}
{% block title %}
My tasks on {{ date }}
{% endblock %}
{% block appcontent %}
<div class="ui items">
    {% for task in tasks %}
    <div class="item">
        <div class="content">
            <a href="{% url 'main:task_detail' task.pk %}" class="header">
                {{ task.description }}
            </a>
        </div>
    </div>
    {% empty %}
    There are no tasks
    {% endfor %}
</div>
{% endblock %}