<style>
    .calday {
        width: 5rem;
        height: 5rem;
    }
    .today{
        background-color: yellow;
    }
    .notthismonth{
        background-color: gray;
    }
</style>
<form method="POST" action="{% url 'main:logout' %}">
    {% csrf_token %}
    <input type="submit" value="logout">
</form>
<h1>Welcome, {{ request.user.username }}</h1>
<table>
    {% for week in weeks %}
        <tr>
            {% for date in week %}
                <td class="calday 
                    {% if date.day == today.day %}
                        today
                    {% elif date.month != today.month %}
                        notthismonth
                    {% endif %}
                ">
                    {{ date.day }}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>