{% extends 'base.html' %}
{% block content %}
<form method="POST" action="{% url 'main:logout' %}">
    {% csrf_token %}
    <button class="ui button" type="submit">
        Logout
    </button>
</form>
<h1>Welcome, {{ request.user.username }}</h1>
<form method="POST" action="{% url 'main:add_task' %}">
    <div class="ui input">
        <input type="text" name="description">
    </div>
    <button class="ui button" type="submit">
        Add Task
    </button>
</form>
{% for task in tasks %}
    {{ task.description }}
{% endfor %}
<table>
    {% for week in weeks %}
    <tr>
        {% for date in week %}
        <td class="calday 
                    {% if date.day == today.day %}
                        today
                    {% elif date.month != today.month %}
                        notthismonth
                    {% endif %}
                ">
            {{ date.day }}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endblock %}